/* 전체 페이지 스타일 */
body {
  font-family: "Arial", sans-serif;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* 컨테이너 스타일 */
.container_wrap {
  background: #fff;
  padding: 30px;
  width: 60%;
  text-align: center;
}

/* 제목 스타일 */
h1 {
  font-size: 24px;
  color: #333;
}

/* 입력 필드 스타일 */
form div {
  margin-bottom: 30px;
  text-align: left;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 5px;
}

/* 버튼 스타일 */
.modify_btn {
  background-color: rgb(232, 236, 229);
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}
